/*Maak hier jouw CSS!*/
* {
    margin: 0;
    padding: 0;
}

.container {
    /* Styling voor mobiel*/
    padding: 20px;
    display: grid;
    background-color: hsl(32, 100%, 93%);
    row-gap: 16px;
    column-gap: 16px;

    grid-template-columns: 1fr;
    grid-template-rows: 50px auto repeat(5, 50px);
    grid-template-areas:
            "header"
            "content"
            "aside-large"
            "aside-small"
            "aside-medium"
            "."
            "footer";
}


.item {
    background-color: hsl(355, 52%, 48%);
    border: 2px solid hsl(355, 52%, 38%);
    color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

#item-a {
    grid-area: header;
}

#item-b {
    grid-area: content;
}

#item-c {
    grid-area: aside-large;
}

#item-d {
    grid-area: aside-small;
}

#item-e {
    grid-area: aside-medium;
}

#item-f {
    grid-area: footer;
}


@media screen and (min-width: 576px) {
    /* styling alles groter dan mobiel*/
    .container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 50px 190px 100px auto 50px;
        grid-template-areas:
            "header aside-large aside-large"
            "content aside-large aside-large"
            "content aside-medium aside-small"
            "content aside-medium ."
            "footer footer footer";
    }

}



