/*Maak hier jouw CSS!*/

.container {
    /* Styling voor mobiel*/
    display: grid;
    background-color: hsl(33, 90%, 92%);
    row-gap: 16px;
    column-gap: 16px;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto 50px 50px 50px 50px 50px;
    grid-template-areas:
            "header"
            "content"
            "aside-large"
            "aside-small"
            "aside-medium"
            "."
            "footer";
}


.item {
    background-color: hsl(355, 52%, 48%);
    border: 2px hsl(355, 52%, 43%);
    color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#item-a {
    grid-area: header;
}

#item-b {
    grid-area: content;
}

#item-c {
    grid-area: aside-large;
}

#item-d {
    grid-area: aside-small;
}

#item-e {
    grid-area: aside-medium;
}

#item-f {
    grid-area: footer;
}


@media screen and (min-width: 576px) {
    /* styling alles groter dan mobiel*/
    .container {
        display: grid;
        background-color: hsl(33, 90%, 92%);
        row-gap: 16px;
        column-gap: 16px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50px 190px 100px auto 50px;
        grid-template-areas:
            "header aside-large aside-large"
            "content aside-large aside-large"
            "content aside-medium aside-small"
            "content aside-medium ."
            "footer footer footer";
    }

}



